<div class="container top-distance">
  <div class="row">

    <app-side-menu class="col-lg-2"></app-side-menu>

    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center">Buscar cliente</h3>
          <hr>
          <div class="input-group mt-2">
            <mdb-form-control class="col-lg-2">
              <input mdbInput type="number" id="form1" class=" form-control" [(ngModel)]="idClient" />
              <label mdbLabel class="form-label" for="form1">Código</label>
            </mdb-form-control>
            <button type="button" class="btn btn-primary" (click)="findClientById(idClient)">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <div class="input-group mt-2">
            <mdb-form-control class="col-lg-2">
              <input mdbInput id="text" type="number" class=" form-control" [(ngModel)]="phoneClient"
                pattern="/^\d+$/" />
              <label mdbLabel class="form-label" for="form1">Telefone</label>
            </mdb-form-control>
            <button type="button" class="btn btn-primary" (click)="findClientByPhone(phoneClient)">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <div class="input-group mt-2">
            <mdb-form-control class="col-lg-3">
              <input mdbInput type="text" id="form1" class=" form-control" [(ngModel)]="nameClient" />
              <label mdbLabel class="form-label" for="form1">Nome</label>
            </mdb-form-control>
            <button type="button" class="btn btn-primary" (click)="findClientByName(nameClient)">
              <i class=" fas fa-search"></i>
            </button>
          </div>
          <div class="input-group mt-2">
            <mdb-form-control class="col-lg-3">
              <input mdbInput type="text" id="form1" class=" form-control" [(ngModel)]="instagramClient" />
              <label mdbLabel class="form-label" for="form1">Instagram</label>
            </mdb-form-control>
            <button type="button" class="btn btn-primary" (click)="findClientByInstagram(instagramClient)">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <table class="table mt-5" border="1px">
            <thead class="table-dark">
              <tr>
                <td>Código</td>
                <td>Nome</td>
                <td>Telefone</td>
                <td>Instagram</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              @for (client of clients; track $index) {
              <tr>
                <td>{{client.id}}</td>
                <td>{{client.name}}</td>
                <td>{{client.phone}}</td>
                <td>{{client.instagram}}</td>
                <button type="button" class="btn btn-outline-dark col-lg-6" mdbRipple rippleColor="dark"
                  routerLink="/admin/home/clients/edit/{{client.id}}">Detalhes</button>
                <button type="button" class="btn btn-outline-dark col-lg-6" mdbRipple rippleColor="dark"
                  (click)="deleteClient(client.id)">Deletar</button>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>