<div class="container top-distance">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center mb-4">
            <h2>Menu Pets</h2>
            <hr>
            <div>
              <span>Buscar pet:</span>
              <mdb-form-control>
                <input mdbInput type="text" id="form1" class="form-control mt-3" [(ngModel)]="id" />
                <label mdbLabel class="form-label" for="form1">Código do pet</label>
              </mdb-form-control>
              <mdb-form-control>
                <input mdbInput type="text" id="form1" class="form-control mt-3" [(ngModel)]="name" />
                <label mdbLabel class="form-label" for="form1">Nome do pet</label>
              </mdb-form-control>
              <mdb-form-control>
                <input mdbInput type="text" id="form1" class="form-control mt-3" [(ngModel)]="clientName" />
                <label mdbLabel class="form-label" for="form1">Nome do cliente</label>
              </mdb-form-control>

              <div class="mt-4">
                <span class="me-2">Desaparecido:</span>
                <div class="form-check form-check-inline">
                  <input [(ngModel)]="selectedOption" mdbRadio class="form-check-input" type="radio" name="wanted"
                    id="inlineRadio1" value="yes" />
                  <label class="form-check-label" for="inlineRadio1">Sim</label>
                </div>
                <div class="form-check form-check-inline">
                  <input [(ngModel)]="selectedOption" mdbRadio class="form-check-input" type="radio" name="wanted"
                    id="inlineRadio2" value="no" checked />
                  <label class="form-check-label" for="inlineRadio2">Não</label>
                </div>
              </div>
              <button type="button" class="btn btn-primary btn-rounded mt-4" mdbRipple
                (click)="findPet()">Buscar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>