<app-public-menu></app-public-menu>


<div class="container top-distance bottom-distance">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body ">

          <div class="justify-content-center d-flex row text-center">
            <h2>Nome do pet</h2>
            <img src=" https://mdbootstrap.com/img/new/standard/city/047.webp" class="img-fluid rounded-pill w-75 mt-2 "
              alt="" />
          </div>
          <div class="row mt-4">
            <span>Sexo: MACHO</span>
            <span>Idade: 20</span>
            <span>Informações adicionais: </span>
            <span>Pet procurado: SIM</span>
          </div>
          <div class="row mt-3">
            <h3>Contato</h3>
            <span>Telefone: 1199999999</span>
            <span>Facebook: www.facebook.com </span>
            <span>Instagram: &#64;teste</span>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>

<app-public-footer class="footer"></app-public-footer>