.top-distance {
  margin-top: 8vh;
}

.bottom-distance {
  margin-bottom: 8vh;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url('front-end/src/assets/background.png');
  background-size: cover;
  opacity: .8;
}

.photo {
  width: 30%;
  display: block;
}

.petName {
  text-transform: uppercase;
}

.card {

  background-color: #2E2A29;
  color: white;
  font-weight: 500;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 38px;
}

p {
  margin: 0;
}

.index {
  margin-top: 8px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  background-color: #4C4948;

}

@media (max-width: 770px) {
  .footer {
    width: 100%;
    bottom: 0;
    position: fixed;
  }
}