<app-public-menu></app-public-menu>


<div class=" container top-distance bottom-distance">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h2>DESAPARECIDOS</h2>
          </div>

          <div class="col-lg-12 mt-4">
            <select class="form-select " [(ngModel)]="city">
              <option selected>Cidade</option>
              @for (c of cities; track $index) {
              <option value={{c}}>{{c}}</option>
              }
            </select>
          </div>
          <button type="button" class="btn btn-secondary mt-2" (click)="search()" mdbRipple>Buscar</button>
        </div>
      </div>

      @for (pet of pets; track $index) {
      <div class="card mt-2">
        <div class="card-body d-flex justify-content-between align-items-center">

          <img src="{{pet.photo}}" class="img-fluid img-fluid rounded photo">
          <label class="petName">{{pet.name}}</label>
          <button type="button" class="btn btn-outline-light btn-rounded" mdbRipple rippleColor="dark">Detalhes</button>
        </div>
      </div>
      }
      <nav>
        <ul class="pagination justify-content-center">
          @for (n of totalPages; track $index) {
          <li class="page-item page-index me-2"><a class="page-link index" (click)="findAllByPage($index)">{{$index +
              1}} </a>
          </li>
          }
        </ul>
      </nav>
    </div>
  </div>
</div>
<app-public-footer></app-public-footer>