<div class="container top-distance bottom-distance">
  <div class="row">

    <app-side-menu class="col-lg-2"></app-side-menu>

    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">Buscar Pet</h1>
          <hr>


          <div class="input-group">
            <div class="col-lg-3 me-2">
              <select class="form-select" [(ngModel)]="searchOption">
                <option selected>Selecione</option>
                <option value="id">Código</option>
                <option value="name">Nome</option>
              </select>
            </div>
            <mdb-form-control>
              <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="value" />
              <label mdbLabel class="form-label" for="form1">Digite a busca</label>
            </mdb-form-control>
            <button type="button" class="btn btn-primary" (click)="search()">
              <i class="fas fa-search"></i>
            </button>
          </div>


          <table class="table mt-5" border="1px">
            <thead class="table-dark">
              <tr>
                <td>Cód.</td>
                <td>Nome</td>
                <td>Tutor</td>
                <td>Telefone</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              @for (pet of pets; track $index) {
              <tr>
                <td>{{pet.id}}</td>
                <td>{{pet.name}}</td>
                <td>{{pet.client.name}}</td>
                <td>{{pet.client.phone}}</td>
                <button type="button" class="btn btn-outline-dark col-lg-6" mdbRipple rippleColor="dark"
                  (click)="navigateEdit(pet.id, pet.client)">Detalhes</button>
                <button type="button" class="btn btn-outline-dark col-lg-6" mdbRipple rippleColor="dark"
                  (click)="deletePet(pet.id)">Deletar</button>
              </tr>
              }
            </tbody>
          </table>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>