<div class="container top-distance bottom-distance">
  <div class="row">

    <app-side-menu class="col-lg-2"></app-side-menu>

    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">Informações de clientes</h1>
          <hr>
          <table class="table" border="1px">
            <thead class="table-dark">
              <tr>
                <td>Código</td>
                <td>Nome</td>
                <td>Telefone</td>
                <td>Instagram</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              @for (client of clients; track $index) {
              <tr>
                <td>{{client.id}}</td>
                <td>{{client.name}}</td>
                <td>{{client.phone}}</td>
                <td>{{client.instagram}}</td>
                <button type="button" class="btn btn-outline-dark col-lg-6" mdbRipple rippleColor="dark"
                  routerLink="/admin/home/clients/edit/{{client.id}}">Detalhes</button>
                <button type="button" class="btn btn-outline-dark col-lg-6" mdbRipple rippleColor="dark"
                  (click)="deleteClient(client.id)">Deletar</button>
              </tr>
              }
            </tbody>
          </table>
          <nav>
            <ul class="pagination justify-content-center">
              @for (n of totalPages; track $index) {
              <li class="page-item page-index"><a class="page-link" (click)="findAllByPage($index)">{{$index + 1}}</a>
              </li>
              }
            </ul>
          </nav>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>