<div class="container top-distance bottom-distance">
  <div class="row">

    <app-side-menu class="col-lg-2"></app-side-menu>


    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <h1 class="text-start">Gerar QR code</h1>
          <hr>
          <div class="input-group mt-2">
            <div class="input-group">
              <mdb-form-control>
                <input mdbInput type="number" id="form1" class="form-control" [(ngModel)]="idPet" />
                <label mdbLabel class="form-label" for="form1">Código</label>
              </mdb-form-control>
              <button type="button" class="btn btn-primary" (click)="findPetById(idPet)">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <table class="table mt-5" border="1px ">
            <thead class=" table-dark text-center">
              <tr>
                <td>Nome</td>
                <td>Código</td>
              </tr>
            </thead>
            @if (pet != null) {
            <tbody>
              <tr class="text-center">
                <td>{{pet.name}}</td>
                <td>{{pet.id}}</td>
              </tr>
            </tbody>
            }
          </table>
          @if (qrcodeView) {
          <div class="text-center">
            <qrcode (qrCodeURL)="onChange($event)" [qrdata]="qrdata" [width]=" 256" [errorCorrectionLevel]="'M'">
            </qrcode>
            <a type="button" [href]="qrCodeDownloadLink" download class="btn btn-outline-dark col-lg-2" mdbRipple
              rippleColor="dark">Download</a>
          </div>
          }
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>