<div class="container top-distance">
  <div class="row">

    <app-side-menu class="col-lg-2"></app-side-menu>

    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">Dados Cadastrais</h1>
          <hr>
          <div class="row mt-4">
            <h2>Cliente:</h2>
            @if (edit) {
            <mdb-form-control class="col-lg-2 mt-2">
              <input mdbInput type="number" class="form-control bg-secondary text-light" [(ngModel)]="client.id"
                disabled />
              <label mdbLabel class="form-label">Código</label>
            </mdb-form-control>
            }
            <div class="col-lg-11 mt-2"></div>
            <mdb-form-control class="col-lg-5 mt-2">
              <input mdbInput type="text" class="form-control" [(ngModel)]="client.name" />
              <label mdbLabel class="form-label">Nome*</label>
            </mdb-form-control>
            <div class="col-lg-7"></div>
            <mdb-form-control class="col-lg-4 mt-3">
              <input mdbInput type="text" class="form-control" [(ngModel)]="client.city" />
              <label mdbLabel class="form-label">Cidade*</label>
            </mdb-form-control>
            <div class="col-lg-7"></div>
            <mdb-form-control class="col-lg-3 mt-3">
              <input mdbInput type="number" class="form-control" [(ngModel)]="client.phone" />
              <label mdbLabel class="form-label">Telefone*</label>
            </mdb-form-control>
            <div class="col-lg-7"></div>
            <mdb-form-control class="col-lg-5 mt-3">
              <input mdbInput type="text" class="form-control" [(ngModel)]="client.facebook" />
              <label mdbLabel class="form-label">Nome Facebook</label>
            </mdb-form-control>
            <div class="col-lg-5 mt-3"></div>
            <mdb-form-control class="col-lg-5 mt-3">
              <input mdbInput type="text" class="form-control" [(ngModel)]="client.instagram" />
              <label mdbLabel class="form-label">Instagram</label>
            </mdb-form-control>
            <span class="mt-3">* Campos obrigatórios</span>
            @if (!edit) {
            <button type="submit" class="btn btn-success mt-4 me-2 col-lg-2" mdbRipple
              (click)="insert(client)">Salvar</button>
            }
            @else{
            <button type="submit" class="btn btn-success mt-4 me-2 col-lg-2" mdbRipple
              (click)="insert(client)">Atualizar</button>
            <button type="button" class="btn btn-info mt-4 me-2 col-lg-2" (click)="registerPet()">Novo
              Pet</button>
            }
          </div>
          <hr>
          @if (edit) {
          <div class=" row mt-2">
            @for (pet of client.pets; track $index) {
            <h1>Pet:</h1>
            <mdb-form-control class="col-lg-2 mt-3">
              <input mdbInput type="number" class="form-control bg-secondary text-light" [(ngModel)]="pet.id"
                disabled />
              <label mdbLabel class="form-label">Código</label>
            </mdb-form-control>

            <div class="col-lg-9 mt-3">
              <button type="submit" class="col-lg-3 btn btn-primary ms-3" mdbRipple
                (click)="updatePet(pet.id)">Editar</button>
              <button type="submit" class="col-lg-3 btn btn-danger ms-1" mdbRipple
                (click)="deletePet(pet.id)">Deletar</button>
            </div>

            <mdb-form-control class="col-lg-4 mt-3">
              <input mdbInput type="text" class="form-control" [(ngModel)]="pet.name" disabled />
              <label mdbLabel class="form-label">Nome</label>
            </mdb-form-control>
            <mdb-form-control class="mt-3 col-lg-3">
              <input mdbInput type="text" class="form-control" [(ngModel)]="pet.sex" disabled />
              <label mdbLabel class="form-label">Sexo</label>
            </mdb-form-control>
            <mdb-form-control class="mt-3 col-lg-3">
              <input mdbInput type="text" class="form-control" [(ngModel)]="pet.petType" disabled />
              <label mdbLabel class="form-label">Pet</label>
            </mdb-form-control>
            <mdb-form-control class="col-lg-6 mt-3 mb-4">
              <input mdbInput type="text" class="form-control" [(ngModel)]="pet.additionalInformation" disabled />
              <label mdbLabel class="form-label">Informações adicionais</label>
            </mdb-form-control>
            <hr>
            }
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>