<app-public-menu></app-public-menu>


<div class=" container top-distance bottom-distance">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h2>Quem somos</h2>
          </div>
          <div class="mt-4">
            <p>Pet fi é uma aplicação que gera um qrcode com todos os dados do pet e tutor para ser agregado a uma
              coleira.
            </p>
            <p>
              Caso o pet se perder ou fugir, basta apontar o celular no qrcode para obter os dados na web e entrar em
              contato
              com o tutor.
            </p>
            <div class="mt-5 text-center">
              <h2>CONTATO</h2>
              <div class="d-flex justify-content-evenly mt-3">
                <!-- Linkedin -->
                <a class="btn btn-primary" style="background-color: #0082ca;" target="_blank"
                  href="https://www.linkedin.com/in/dev-hideyukitakahashi/" role="button"><i
                    class="fab fa-linkedin-in"></i></a>
                <!-- Github -->
                <a class="btn btn-primary" style="background-color: #5e5d5d;" target="_blank"
                  href="https://github.com/Dev-HideyukiTakahashi/pet-fi" role="button"><i class="fab fa-github"></i></a>
                <!-- Whatsapp -->
                <a class="btn btn-primary" style="background-color: #25d366;" target="_blank" role="button"
                  href="https://api.whatsapp.com/send?phone=5511942051849"><i class="fab fa-whatsapp"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-public-footer class="footer"></app-public-footer>