<div class="container top-distance bottom-distance">
  <div class="row">

    <app-side-menu class="col-lg-2"></app-side-menu>

    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">Buscar Cliente</h1>
          <hr>

          <div class="input-group">
            <div class="col-lg-3 me-2">
              <select class="form-select" [(ngModel)]="searchOption">
                <option selected>Selecione</option>
                <option value="name">Nome</option>
                <option value="instagram">Instagram</option>
                <option value="phone">Telefone</option>
              </select>
            </div>
            <mdb-form-control>
              <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="value"
                (keyup.enter)="search()" />
              <label mdbLabel class="form-label" for="form1">Digite a busca</label>
            </mdb-form-control>
            <button type="button" class="btn btn-primary" (click)="search()">
              <i class="fas fa-search"></i>
            </button>
          </div>

          <table class="table mt-5" border="1px">
            <thead class="table-dark">
              <tr>
                <td>Nome</td>
                <td>Telefone</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              @for (client of clients; track $index) {
              <tr>
                <td>{{client.name}}</td>
                <td>{{client.phone}}</td>
                <button type="button" class="btn btn-outline-dark col-lg-6" mdbRipple rippleColor="dark"
                  routerLink="/admin/home/clients/edit/{{client.id}}">Detalhes</button>
                <button type="button" class="btn btn-outline-dark col-lg-6" mdbRipple rippleColor="dark"
                  (click)="deleteClient(client.id)">Deletar</button>
              </tr>
              }
            </tbody>
          </table>
          <nav>
            <ul class="pagination justify-content-center">
              @for (n of totalPages; track $index) {
              <li class="page-item page-index"><a class="page-link" (click)="findPaged($index)">{{$index + 1}}</a>
              </li>
              }
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>